<div class="jumbotron text-center mt-3">
  <h1>MEAN Stack Tutorial</h1>
  <p class="lead">
    Welcome to MEAN Stack Tutorial which uses MongoDB, Express, Angular and
    Node.js + Passport & JSON Web Token
  </p>
  <div>
    <a class="btn btn-primary mr-3" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary ml-3" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js/Express server using Mongoose ODM to interact with MongoDB</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>Angular Front-end made with Angular CLI</p>
  </div>
  <div class="col-md-4">
    <h3>JSON Web Token</h3>
    <p>Authenticate with JSON Web Tokens. Login and store user data</p>
  </div>
</div>
